{%extends 'library_crud/menu.html'%}

{% block content %}


<h1>Add Library Information</h1>
<div class="container mt-5">
    <h2 class="mb-4">
        {% if update %}
            Update Library Details
        {% else %}
            Add New Library
        {% endif %} 
    </h2>
    <form method="post" class="border p-4 bg-light rounded">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn {% if update %}btn-warning{% else %}btn-success{% endif %}">
            {% if update %}
                Update
            {% else %}
                Submit
            {% endif %}
        </button>
        <a href="{% url 'library_list' %}" class="btn btn-secondary">Back</a>
    </form>
</div>




{%endblock%}